<div class="producto">
  <ion-item>
    <ion-label class="d-inline">
      <h3>
        <small>
          <b>
            <ion-button [routerLink]="['/actualizar-epp', producto._id]" class="btn-actualizar" color="uno"
              *ngIf="userRole == 'ADMIN'">
              (Cod: {{ producto.material }})
            </ion-button>
            <ion-button class="btn-actualizar" color="uno" *ngIf="userRole != 'ADMIN'">
              (Cod: {{ producto.material }})
            </ion-button>
          </b>
          {{producto.categoria}}
        </small>
      </h3>
      <h4 class="ion-text-wrap">
        {{ producto.descripcion }}
      </h4>
    </ion-label>
  </ion-item>
  <!-- SI SON MAS DE UNA IMAGEN-->
  <ion-slides pager="true" *ngIf="producto.img.length > 1">
    <ion-slide *ngFor="let img of producto.img" class="image-slide" [style]="(img | imagen) | domSanitizer">
    </ion-slide>
  </ion-slides>
  <!-- SI ES UNA IMAGEN -->
  <ion-slides pager="true" *ngIf="producto.img.length === 1" [options]="slideSoloOpts">
    <ion-slide class="image-slide" [style]="(producto.img[0] | imagen) | domSanitizer"></ion-slide>
  </ion-slides>
  <!-- 
  <ion-slides pager="true">
    <ion-slide *ngFor="let img of producto.img" class="image-slide" [style]="(img | imagen) | domSanitizer"></ion-slide>
  </ion-slides> -->


  <ion-item>
    <ion-label slot="start">
      <h4>{{ producto.medida }}</h4>
    </ion-label>
    <ion-label *ngIf="userRole == 'ADMIN' && userRole != null">
      <ion-button color="danger" (click)="eliminarEpp(producto._id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-label>
    <ion-label slot="end">
      <h4>{{ producto.genero }}</h4>
    </ion-label>
  </ion-item>
</div>