<ion-header no-border>
  <ion-toolbar color="naranjo">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Gestión de usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="cuarto">
  <!--Buscador-->
  <ion-searchbar #input (keyup.enter)="realizarBusqueda( input.value )" placeholder="Busca un usuario"></ion-searchbar>
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label>{{usuario.nombre}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-buttons (click)="eliminarUsuario(usuario._id)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col size="1">
            <ion-buttons [routerLink]="['/actualizar-usuario',usuario._id]">
              <ion-icon slot="icon-only" name="create" color="warning"></ion-icon>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!--Infinite Scroll-->
  <ion-infinite-scroll [disabled]="!habilitado" threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>