<ion-header no-border>
  <ion-toolbar color="naranjo">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>SOLICITUD VERANO</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <p>Solicita tu ropa de invierno de forma sencilla, enviaremos un comprobante con
          los datos de la solicitud al correo que nos indiques.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>1. Datos del usuario</h3>
        <p>Nombre:<br> {{usuario.nombre}}</p>
        <p>RUT: {{usuario.rut}}</p>
        <p>SAP: {{usuario.sap}}</p>
        <p>Ubicación: {{usuario.ubicacion | ubicacion}}</p>
        <p>Centro de costo: {{usuario.centro_costo}}</p>
      </ion-col>
    </ion-row>
    <form (ngSubmit)="enviarSolicitud(fSolicitud)" #fSolicitud="ngForm">
      <ion-row>
        <ion-col>
          <h3>2. Selecciona tus tallas</h3>
          <ion-list>
            <ion-item *ngIf="buzos && buzos.length != 0">
              <ion-label>BUZO</ion-label>
              <ion-select name="tall1" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of buzos" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="buzosElectricos && buzosElectricos.length != 0">
              <ion-label>BUZO ELECTRICO</ion-label>
              <ion-select name="tall2" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of buzosElectricos" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="buzosMecanicos && buzosMecanicos.length != 0">
              <ion-label>BUZO MECANICO</ion-label>
              <ion-select name="tall3" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of buzosMecanicos" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="camisas && camisas.length != 0">
              <ion-label>CAMISA</ion-label>
              <ion-select name="tall4" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of camisas" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="camisasElectricos && camisasElectricos.length != 0">
              <ion-label>CAMISA ELECTRICO</ion-label>
              <ion-select name="tall5" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of camisas" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="pantalonesPc && pantalonesPc.length != 0">
              <ion-label>PRIMERA CAPA PANTALON</ion-label>
              <ion-select name="tall6" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of pantalonesPc" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="camisasPcElect && camisasPcElect.length != 0">
              <ion-label>PRIMERA CAPA CAMISA</ion-label>
              <ion-select name="tall7" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of camisasPcElect" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="pantalones && pantalones.length != 0">
              <ion-label>PANTALON</ion-label>
              <ion-select name="tall8" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of pantalones" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="parkas && parkas.length != 0">
              <ion-label>PARKA</ion-label>
              <ion-select name="tall9" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of parkas" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="zapatos && zapatos.length != 0">
              <ion-label>ZAPATO</ion-label>
              <ion-select name="tall10" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of zapatos" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="zapatosElectricos && zapatosElectricos.length != 0">
              <ion-label>ZAPATO ELECTRICO</ion-label>
              <ion-select name="tall11" type="text" [(ngModel)]="epp.nombre" required>
                <ion-select-option *ngFor="let epp of zapatosElectricos" value="{{epp.epp}}">{{epp.talla}}
                </ion-select-option>
                <ion-input type="hidden"></ion-input>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-row>
            <ion-item>
              <ion-label>
                Cargo actual:
              </ion-label>
              <ion-input name="cargo_actual" type="text" [(ngModel)]="solicitud.cargo_actual" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                Lugar de retiro:
              </ion-label>
              <ion-input name="lugar_retiro" type="text" [(ngModel)]="solicitud.lugar_retiro" required></ion-input>
            </ion-item>
            <ion-col>
              <ion-button type="submit" color="uno" shape="round">
                Enviar solicitud a bodega
              </ion-button>
              <p>
                <b>*Importante:</b> Favor verifica las tallas antes de enviar,
                solo se puede efectuar una solicitud por temporada al año.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>