<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="producto.descripcion">
      <ion-button (click)="actualizarProducto(producto._id)" color="uno" [disabled]="producto.descripcion.length < 1">
        Actualizar EPP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label position="floating">N° Material</ion-label>
      <ion-input type="text" [(ngModel)]="producto.material"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="producto.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select interface="alert" okText="Elegir" cancelText="cancelar" [(ngModel)]="producto.categoria">
        <ion-select-option value="ANTEOJOS">Anteojos</ion-select-option>
        <ion-select-option value="ARNES">Arnes</ion-select-option>
        <ion-select-option value="BANDANA">Bandana</ion-select-option>
        <ion-select-option value="BARBIQUEJOS">Barbiquejos</ion-select-option>
        <ion-select-option value="BLUSAS">Blusas</ion-select-option>
        <ion-select-option value="BOTAS">Botas</ion-select-option>
        <ion-select-option value="BOTINES">Botines</ion-select-option>
        <ion-select-option value="BUZOS">Buzos</ion-select-option>
        <ion-select-option value="CALCETINES">Calcetines</ion-select-option>
        <ion-select-option value="CAMISAS">Camisas</ion-select-option>
        <ion-select-option value="CAMISETAS">Camisetas</ion-select-option>
        <ion-select-option value="CASCOS">Cascos</ion-select-option>
        <ion-select-option value="CHALECOS">Chalecos</ion-select-option>
        <ion-select-option value="CONJUNTOS">Conjuntos</ion-select-option>
        <ion-select-option value="CONTRA VIENTOS">Contra Vientos</ion-select-option>
        <ion-select-option value="COTONAS">Cotonas</ion-select-option>
        <ion-select-option value="GAFAS">Gafas</ion-select-option>
        <ion-select-option value="GORROS">Gorros</ion-select-option>
        <ion-select-option value="GUANTES">Guantes</ion-select-option>
        <ion-select-option value="JARDINERAS">Jardineras</ion-select-option>
        <ion-select-option value="LAMPARAS">Lamparas</ion-select-option>
        <ion-select-option value="LENTES">Lentes</ion-select-option>
        <ion-select-option value="PANTALONES">Pantalones</ion-select-option>
        <ion-select-option value="PARKAS">Parkas</ion-select-option>
        <ion-select-option value="POLAR">Polar</ion-select-option>
        <ion-select-option value="PROTECTORES">Protectores</ion-select-option>
        <ion-select-option value="RESPIRADORES">Respiradores</ion-select-option>
        <ion-select-option value="SOQUETES">Soquetes</ion-select-option>
        <ion-select-option value="SUSPENSIONES">Suspensiones</ion-select-option>
        <ion-select-option value="TENIDAS">Tenidas</ion-select-option>
        <ion-select-option value="TRAJES">Trajes</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select interface="alert" okText="Elegir" cancelText="cancelar" [(ngModel)]="producto.genero">
        <ion-select-option value="dama">Mujer</ion-select-option>
        <ion-select-option value="varon">Hombre</ion-select-option>
        <ion-select-option value="unisex">Unisex</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Medida</ion-label>
      <ion-select interface="alert" okText="Elegir" cancelText="cancelar" [(ngModel)]="producto.medida">
        <ion-select-option value="UN">UN</ion-select-option>
        <ion-select-option value="PAA">PAA</ion-select-option>
      </ion-select>
    </ion-item>


  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button color="uno" expand="full" shape="round" (click)="camara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="dos" expand="full" shape="round" (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galerí­a
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>