<ion-tabs>
  <ion-tab-bar slot="bottom" color="uno">
    <ion-tab-button tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Todo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="male"></ion-icon>
      <ion-label>Hombre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="female"></ion-icon>
      <ion-label>Mujer</ion-label>
    </ion-tab-button>

    <ion-tab-button class="agregar" *ngIf="userRole == 'ADMIN'">
      <a routerLink="/crear-epp">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Agregar</ion-label>
      </a>
    </ion-tab-button>

    <ion-tab-button class="login">
      <a routerLink="/convenio">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Convenio</ion-label>
      </a>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>