$success: rgb(74, 218, 17);

.login {
  a {
    color: $success;
    text-decoration: none;
    cursor: pointer;
    ion-icon {
      font-size: 21px;
    }
  }
}

.agregar {
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    ion-icon {
      font-size: 18px;
    }
  }
}
