<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="dos">
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><a routerLink="categoria/ANTEOJOS">Anteojos</a></ion-item>
        <ion-item><a routerLink="categoria/ARNES">Arnes</a></ion-item>
        <ion-item><a routerLink="categoria/BANDANA">Bandana</a></ion-item>
        <ion-item><a routerLink="categoria/BARBIQUEJOS">Barbiquejos</a></ion-item>
        <ion-item><a routerLink="categoria/BLUSAS">Blusas</a></ion-item>
        <ion-item><a routerLink="categoria/BOTAS">Botas</a></ion-item>
        <ion-item><a routerLink="categoria/BOTINES">Botines</a></ion-item>
        <ion-item><a routerLink="categoria/BUZOS">Buzos</a></ion-item>
        <ion-item><a routerLink="categoria/CALCETINES">Calcetines</a></ion-item>
        <ion-item><a routerLink="categoria/CAMISAS">Camisas</a></ion-item>
        <ion-item><a routerLink="categoria/CAMISETAS">Camisetas</a></ion-item>
        <ion-item><a routerLink="categoria/CASCOS">Cascos</a></ion-item>
        <ion-item><a routerLink="categoria/CHALECOS">Chalecos</a></ion-item>
        <ion-item><a routerLink="categoria/CONJUNTOS">Conjuntos</a></ion-item>
        <ion-item><a routerLink="categoria/CONTRA VIENTOS">Contra Vientos</a></ion-item>
        <ion-item><a routerLink="categoria/COTONAS">Cotonas</a></ion-item>
        <ion-item><a routerLink="categoria/GAFAS">Gafas</a></ion-item>
        <ion-item><a routerLink="categoria/GORROS">Gorros</a></ion-item>
        <ion-item><a routerLink="categoria/GUANTES">Guantes</a></ion-item>
        <ion-item><a routerLink="categoria/JARDINERAS">Jardineras</a></ion-item>
        <ion-item><a routerLink="categoria/LAMPARAS">Lamparas</a></ion-item>
        <ion-item><a routerLink="categoria/LENTES">Lentes</a></ion-item>
        <ion-item><a routerLink="categoria/PANTALONES">Pantalones</a></ion-item>
        <ion-item><a routerLink="categoria/PARKAS">Parkas</a></ion-item>
        <ion-item><a routerLink="categoria/POLAR">Polar</a></ion-item>
        <ion-item><a routerLink="categoria/PROTECTORES">Protectores</a></ion-item>
        <ion-item><a routerLink="categoria/RESPIRADORES">Respiradores</a></ion-item>
        <ion-item><a routerLink="categoria/SOQUETES">Soquetes</a></ion-item>
        <ion-item><a routerLink="categoria/SUSPENSIONES">Suspensiones</a></ion-item>
        <ion-item><a routerLink="categoria/TENIDAS">Tenidas</a></ion-item>
        <ion-item><a routerLink="categoria/TRAJES">Trajes</a></ion-item>
        <div *ngIf="userRole == 'ADMIN_ROLE'">
          <hr>
          <h3 class="t-gestion">Gestión Administrativa</h3>
          <ion-item><a routerLink="crear-usuario">Crear Usuario</a></ion-item>
          <ion-item><a routerLink="usuarios">Gestión Usuario</a>s</ion-item>
          <ion-item><a routerLink="historial-solicitudes"></a>Historial Solicitudes</ion-item>
          <ion-item>
            <ion-button color="dos" (click)="logout()">Salir</ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>