<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Anteojos</ion-item>
        <ion-item>Arnes</ion-item>
        <ion-item>Bandana</ion-item>
        <ion-item>Barbiquejos</ion-item>
        <ion-item>Blusas</ion-item>
        <ion-item>Botas</ion-item>
        <ion-item>Botines</ion-item>
        <ion-item>Buzos</ion-item>
        <ion-item>Calcetines</ion-item>
        <ion-item>Camisas</ion-item>
        <ion-item>Camisetas</ion-item>
        <ion-item>Cascos</ion-item>
        <ion-item>Chalecos</ion-item>
        <ion-item>Conjuntos</ion-item>
        <ion-item>Contra Vientos</ion-item>
        <ion-item>Cotonas</ion-item>
        <ion-item>Gafas</ion-item>
        <ion-item>Gorros</ion-item>
        <ion-item>Guantes</ion-item>
        <ion-item>Jardineras</ion-item>
        <ion-item>Lamparas</ion-item>
        <ion-item>Lentes</ion-item>
        <ion-item>Pantalones</ion-item>
        <ion-item>Parkas</ion-item>
        <ion-item>Polar</ion-item>
        <ion-item>Protectores</ion-item>
        <ion-item>Respiradores</ion-item>
        <ion-item>Soquetes</ion-item>
        <ion-item>Suspensiones</ion-item>
        <ion-item>Tenidas</ion-item>
        <ion-item>Trajes</ion-item>
        <hr>
        <h3 class="t-gestion">Gestión Administrativa</h3>
        <ion-item>Usuarios</ion-item>
        <ion-item>Nuevo EPP</ion-item>
        <ion-item>Historia Solicitudes</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>