<ion-header>
  <ion-toolbar color="naranjo">
    <ion-buttons slot="end">
      <ion-back-button text="" defaultHref="/historial-solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>SOLICITUD</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="solicitud">
  <ion-grid>
    <ion-row>
      <ion-button [routerLink]="['/editar-solicitud', solicitud._id]">
        Editar Solicitud
      </ion-button>
    </ion-row>
    <ion-row>

      <ion-col>
        <h3>1. Datos del trabajador</h3>
        <p>Nombre: {{solicitud.nombre}}</p>
        <p>Rut: {{solicitud.rut}}</p>
        <p>Sap: {{solicitud.sap}}</p>
        <p>Centro Costo: {{solicitud.centro_costo}}</p>
        <p>Cargo: {{solicitud.cargo_actual}}</p>
        <p>Retiro: {{solicitud.lugar_retiro}}</p>
        <p>Transacción: {{solicitud._id}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>2. Datos de solicitud</h3>
        <p>Temporada: {{solicitud.temporada}}</p>
        <p>Año: {{solicitud.anio}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col class="col">Codigo</ion-col>
      <ion-col class="col">Epp</ion-col>
      <ion-col class="col">Talla</ion-col>
      <ion-col class="col">Cantidad</ion-col>
    </ion-row>
    <ion-row *ngFor="let epp of solicitud.epps">
      <ion-col class="col">{{epp.codigo}}</ion-col>
      <ion-col class="col">{{epp.nombre}}</ion-col>
      <ion-col class="col">{{epp.talla}}</ion-col>
      <ion-col class="col">1</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>