<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dos" (click)="logout()">
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id="ingresoSolicitud">
        <h1>Convenio Trabajadores</h1>
        <p>Solicita tu equipo de protección personal</p>
        <ion-button routerLink="/solicitud-invierno" color="dos" expand="block">SOLICITUD PERIODO
          INVIERNO
        </ion-button>
        <p>(Abierto entre Enero y Marzo)</p>
        <ion-button routerLink="/solicitud-verano" color="naranjo" expand="block">SOLICITUD PERIODO
          VERANO</ion-button>
        <p>(Abierto entre Julio y Septiembre)</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            <small>*LA SOLICITUD SOLO SE PUEDE REALIZAR UNA VEZ POR AÑO, FAVOR VERIFICA LA INFORMACIÓN
              ANTES DE ENVIAR LA SOLICITUD.</small>
          </p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userRole == 'ADMIN'" class="gestion-adm">
        <ion-col>
          <hr>
          <h3 class="t-gestion">Gestión Administrativa</h3>
          <ion-button expand="block" color="uno" routerLink="/crear-usuario">
            <ion-icon slot="start" name="person-add"></ion-icon> Crear Usuario
          </ion-button>
          <ion-button expand="block" color="uno" routerLink="/crear-epp-convenio">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon> Crear Epp Convenio
          </ion-button>
          <ion-button expand="block" color="dos" routerLink="/usuarios">
            <ion-icon slot="start" name="people"></ion-icon> Gestión Usuarios
          </ion-button>
          <ion-button expand="block" color="dos" routerLink="/epps-convenio">
            <ion-icon slot="start" name="hand"></ion-icon> Gestión Epps Convenio
          </ion-button>
          <ion-button expand="block" color="tres" routerLink="/historial-solicitudes">
            <ion-icon slot="start" name="time"></ion-icon> Historial Solicitudes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>