<ion-header no-border>
  <ion-toolbar color="naranjo">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Crear nuevo usuario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>
          <ion-icon name="add-outline"></ion-icon>
          Crea una cuenta
        </h3>
      </ion-col>
    </ion-row>

    <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>SAP</ion-label>
              <ion-input name="sap" type="text" [(ngModel)]="registerUser.sap" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>RUT</ion-label>
              <ion-input name="rut" type="text" [(ngModel)]="registerUser.rut" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-select [(ngModel)]="registerUser.genero" name="genero" okText="Confirmar" cancelText="Cancelar">
                <ion-select-option value="hombre">Masculino</ion-select-option>
                <ion-select-option value="mujer">Femenino</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Centro de costo</ion-label>
              <ion-input name="centro_costo" type="text" [(ngModel)]="registerUser.centro_costo" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Ubicación</ion-label>
              <ion-select [(ngModel)]="registerUser.ubicacion" name="ubicacion" okText="Confirmar"
                cancelText="Cancelar">
                <ion-select-option value="salacom">Sala Com.</ion-select-option>
                <ion-select-option value="los_andes">Los Andes</ion-select-option>
                <ion-select-option value="huechun">Huechun</ion-select-option>
                <ion-select-option value="saladillo">Saladillo</ion-select-option>
                <ion-select-option value="planta_filtro">Planta de Filtro</ion-select-option>
                <ion-select-option value="mina_sub">Mina Subterranea</ion-select-option>
                <ion-select-option value="concentrador">Concentrador</ion-select-option>
                <ion-select-option value="sur">Sur</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Cargo</ion-label>
              <ion-select [(ngModel)]="registerUser.cargo" name="cargo" okText="Confirmar" cancelText="Cancelar">
                <ion-select-option value="electrico">Eléctrico</ion-select-option>
                <ion-select-option value="mecanico">Mecánico</ion-select-option>
                <ion-select-option value="general">Otro</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Tipo de usuario</ion-label>
              <ion-select [(ngModel)]="registerUser.tipo_usuario" name="tipo_usuario" okText="Confirmar"
                cancelText="Cancelar">
                <ion-select-option value="USER_ROLE">Trabajador</ion-select-option>
                <ion-select-option value="ADMIN_ROLE">Administrador</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="uno" shape="round">
            Crear nuevo usuario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>